body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

@font-face {
    font-family: 'FSAlbertPro';
    src: local('FSAlbertPro'),
    local('FSAlbertPro-Regular'),
    url('./font/FS_Albert_Pro.otf') format('opentype')
}

@font-face {
    font-family: 'FSAlbertProBold';
    src: local('FSAlbertPro'),
    local('FSAlbertPro-Bold'),
    url('./font/FS_Albert_Pro-Bold.otf') format('opentype')
}

@font-face {
    font-family: 'FSAlbertProExtraBold';
    src: local('FSAlbertPro'),
    local('FSAlbertPro-Bold'),
    url('./font/FS_Albert_Pro-ExtraBold.otf') format('opentype')
}

html, body, #app, #app > div, body > #root {
    height: 100%;
    width: 100%;
}

.container {
    width: 100%;
    min-height: 100%;
}

.grid2x2 {
    min-height: 75%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    padding: 20px;
}

.box {
    margin: 20px;
    display: flex;
    flex-basis: calc(50% - 84px);
    flex-direction: column;
}

.loading {
    animation: spin 1200ms infinite linear;
}

.info input {
    border-radius: 50px !important;
    background: rgba(207, 0, 0, 0.5) !important;
    border-color: rgba(207, 0, 0, 1) !important;
    color: white !important;
    font-size:2.5vh !important;
    padding: 2vh;
    font-family: "FSAlbertProBold";
}

.otp input {
    border-radius: 20px !important;
    background: transparent !important;
    border-color: white !important;
    color: white !important;
    font-size: 7vh !important;
    text-align: center;
    border-width: 2px;
    padding: 1.5vh;
    font-family: "FSAlbertProBold" !important;
    margin: 1vh !important;
}

.resultImg {
    width: 25%;
}

.otp {
    margin-top: 5vh;
}

fieldset {
    border-radius: 34px !important;
    border-color: rgba(207, 0, 0, 0) !important;
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.info .MuiSelect-outlined {
    color: white !important;
    font-size: 2.5vh !important;
    border-radius: 50px !important;
    background: rgba(207, 0, 0, 0.5) !important;
    border-color: rgba(207, 0, 0, 1) !important;
    padding: 2vh;
    font-family: "FSAlbertProBold";

}

.info .MuiSelect-icon {
    top: calc(50% - 35px);
}

.info .MuiSvgIcon-root{
    display: none;
}

.info .MuiOutlinedInput-input {
    color: white !important;
}

.info ::placeholder {
    color: white !important;
    opacity: 1 !important;
}

::-webkit-input-placeholder { /* Edge */
    color: white;
}

:-ms-input-placeholder { /* Internet Explorer */
    color: white;
}

input[type="date"]:before {
    content: attr(placeholder) !important;
    margin-right: 0.5em;
}

